.choose-template {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tooltip {
    position: fixed;
    background-color: var(--mid-orange);
    border: none;
    border-radius: 10px;
    padding: 10px;
    z-index: 9999;
}

.dev-msg {
    position: fixed;
    top: 0;
    left: 10px;
    padding: 10px;
    border: none;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    width: 30%;
    height: 300px;
    background-color: var(--mid-orange);
    overflow: auto;
    z-index: 9998;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    border: none;
    background-color: var(--dark-orange);
}

.choose-template a {
    text-decoration: none;
    color: var(--light-pink);
    padding: 10px;
    border: 5px solid var(--light-pink);
    border-radius: 10px;
    background-color: var(--dark-pink);
}

.choose-template a:hover {
    color: var(--dark-pink);
    background-color: var(--light-pink);
    border: 5px solid var(--dark-pink);
}

.choose-template :last-child {
    margin-top: 20px;
}