.nav-item {
    text-decoration: none;
    color: white;
    padding: 12px;
}

.nav-item.active {
    font-weight: bold;

}

.navbar {
    margin-right: 10px;
    padding: 4px;
    background-color: var(--mid-orange);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar :hover {
    background-color: var(--pink);
    color: var(--mid-orange);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}