* {
  font-weight: bold;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  background-color: var(--light-pink);
  /* frame color */
  display: inline-block;
  border: none;
  border-radius: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
  border-radius: 15px;
  padding: 0px 70px 30px 70px;
}

label {
  font-size: 1rem;

  color: var(--dark-pink);
}

input[type="text"] {
  font-size: 1rem;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  border-radius: 10px;
  border: 5px solid var(--dark-pink);
  background-color: var(--light-pink);
  color: rgb(255, 208, 208);
}

input[type="text"]:focus {
  outline: none;
}

a {
  color: var(--yellow);
}

.github {
  position: fixed;
  bottom: 0;
  left: 15px;
  width: 50px;
  height: 50px;
  margin: 5px;
  opacity: 0.85;
  z-index: 9999;
}

.github:hover {
  opacity: 1;
}

.hush {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 50px;
  height: 50px;
  margin: 10px;
  opacity: 0.85;
  z-index: 9999;
}